body{
	/*background-image: url('tt.jpg');*/

background-color:#1a1a1a;

}


.jumbotron{
	height: 700px;
	background-color: #1a1a1a;

}
.big-div{
	height: auto;
	width: 700px;
	padding: 40px;
float: left;
margin-top: 8%;
margin-left: 25%;
border-radius: 10px;
  box-shadow: 0px 5px 2px 1px black;
  background-color: white;
  	background-image: url('https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');



}
.div-one{
	float: left;
	width: 42.96%;
	height: 330px;
	margin-left: 5%;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
  box-shadow: 0px 2px 2px 1px black;
  background-color: #ff9801;
  color: white;



}
.div-two{
	float: left;
	border:2px 2px 2px 0px solid black;
	width: 47%;
	height: 330px;
	border-radius: 10px;
	padding: 10px;
  box-shadow: 0px 2px 2px 1px black;
  background-color: white;



}
h3{
	text-align: center;
}
input{
	border-bottom:none;
	width: auto;
	height: 30px;
	border-bottom:solid black 1px;
	padding: 10px;
	font-family: 'poppins',sans-serif;
	float: left;
	margin-top:20px;

}
button{
	width: 100px;
	height: 30px;
	border:none;
	background-color: #ff9801;
	border-radius: 5px;
	color: white;
	margin-top:40px;
}
body{
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}



.header {
	width: 70%;
	margin: 50px auto 0px;
	color: white;
	background:#1a1a1a;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
form, .content {
	width: 70%;
	margin: 0px auto;
	background: white;
	margin-top: 0px;


}

label{
	text-align: center;
}

li a{
	text-decoration: none;
	color: white;
}

.input-group input {
	height: 40px;
	width: 93%;
	padding: 5px 10px;
	font-size: 12px;
	border: solid grey 1px;
	border-radius: 5px;

}


.btn  {
	padding: 10px;
	font-size: 15px;
	color: white;
	background : #1a1a1a;
	border: none;
	border-radius: 5px;
	margin-top: 20px;
}
p{
	margin-top: 20px;
}

footer {
	display: block;
  text-align: center;
  padding: 3px;
  background-color: #1a1a1a;
  color: white; 
  margin-top:600px;
}

/*.input-one{
	width: 100px;
}*/

